[KGameTheme]
Name=Classic
Name[ca]=Clàssic
Name[ca@valencia]=Clàssic
Name[eo]=Klasika
Name[es]=Clásico
Name[ka]=კლასიკური
Name[nl]=Klassiek
Name[sl]=Klasična
Name[sv]=Klassiskt
Name[tr]=Klasik
Name[uk]=Класична
Name[x-test]=xxClassicxx
Description=Classic theme
Description[ca]=Tema clàssic
Description[ca@valencia]=Tema clàssic
Description[eo]=Klasika etoso
Description[es]=Tema clásico
Description[ka]=კლასიკური თემა
Description[nl]=Klassiek thema
Description[sl]=Klasična tema
Description[sv]=Klassiskt tema
Description[tr]=Klasik tema
Description[uk]=Класична тема
Description[x-test]=xxClassic themexx
VersionFormat=1
Author=Anders Widell
AuthorEmail=awl@hem.passagen.se
Type=SVG
FileName=ksokoban_classic.svg
Preview=ksokoban_classic_preview.png
