[KGameTheme]
Name=Classic
Name[ca]=Clàssic
Name[ca@valencia]=Clàssic
Name[cs]=Klasický
Name[eo]=Klasika
Name[es]=Clásico
Name[eu]=Klasikoa
Name[fi]=Perinteinen
Name[fr]=Classique
Name[gl]=Clásico
Name[it]=Classico
Name[ka]=კლასიკური
Name[ko]=고전
Name[nl]=Klassiek
Name[pl]=Klasyczny
Name[pt_BR]=Clássico
Name[sl]=Klasična
Name[sv]=Klassiskt
Name[tr]=Klasik
Name[uk]=Класична
Name[x-test]=xxClassicxx
Description=Classic theme
Description[ca]=Tema clàssic
Description[ca@valencia]=Tema clàssic
Description[cs]=Klasický motiv
Description[eo]=Klasika etoso
Description[es]=Tema clásico
Description[eu]=Gai klasikoa
Description[fi]=Perinteinen teema
Description[fr]=Thème classique
Description[gl]=Tema clásico.
Description[it]=Tema classico
Description[ka]=კლასიკური თემა
Description[ko]=고전 테마
Description[nl]=Klassiek thema
Description[pl]=Wystrój klasyczny
Description[pt_BR]=Tema clássico
Description[sl]=Klasična tema
Description[sv]=Klassiskt tema
Description[tr]=Klasik tema
Description[uk]=Класична тема
Description[x-test]=xxClassic themexx
VersionFormat=1
Author=Anders Widell
AuthorEmail=awl@hem.passagen.se
Type=SVG
FileName=skladnik_classic.svg
Preview=skladnik_classic_preview.png
