[Desktop Entry]
Encoding=UTF-8
Name=KSokoban
Name[af]=Ksokoban
Name[bn]=কে-সোকোবান
Name[eo]=Sokobano
Name[hi]=के-शोकोबॉन
Name[hr]=Sokoban
Name[lv]=KKrāvējs
Name[mk]=КСокобан
Name[nb]=Sokoban
Name[pl]=Sokoban
Name[ru]=Сокобан
Name[sv]=Ksokoban
Name[ta]=Kசோகோபான் 
Name[tg]=KСокобан
Name[xx]=xxKSokobanxx
Name[zh_TW]=KSokoban 倉庫番
Name[zu]=I-KSokoban
GenericName=Sokoban Game
GenericName[bg]=Логическа игра
GenericName[da]=Sokoban spil
GenericName[et]=Sokoban
GenericName[ga]=Cluiche Sokoban
GenericName[hu]=Sokoban
GenericName[nl]=Sokobanspel
GenericName[pt]=Jogo de Sokoban
GenericName[pt_BR]=Jogo de Sokoban
GenericName[ru]=Игра Сокобан
DocPath=ksokoban/index.html
Exec=ksokoban %i %m -caption "%c"
Icon=ksokoban
Terminal=false
Type=Application
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;StrategyGame;
