[Desktop Entry]
Name=Sokoban
Name[bg]=Сокобан
Name[eo]=Sokobano
Name[he]=ןאבוקוס
Name[ja]=倉庫番
Name[ko]=창고지기
Name[mk]=Сокобан
Name[ru]=Сокобан
Name[ta]=§º¡§¸¡À¡ý
Name[uk]=Сокобан
Name[zh_CN.GB2312]=仓库番
Comment=The japanese warehouse keeper game
Comment[az]=Yapon ambarcı oyunu
Comment[bg]=Японска игра за пазач на склад
Comment[br]=C'hoari paotr ar sanailh japanat
Comment[bs]=Igra japanskih skladištara
Comment[ca]=El joc japonès del vigilant del magatzem
Comment[cs]=Japonská hra Strážce skladiště
Comment[da]=Et japansk spil der styrer et lagerlokale
Comment[de]=Das japanische Kistenschieberspiel
Comment[el]=Το παιχνίδι του γιαπωνέζου αποθηκάριου
Comment[eo]=Japana stokejestro-ludo
Comment[es]=El juego japonés del guardián del almacén
Comment[et]=Jaapani laopidaja mäng
Comment[eu]=Japoniar gordelekuaren zaindariaren jokoa
Comment[fi]=Japanilaisen varastonpitäjän peli
Comment[fr]=Le magasinier japonais
Comment[gl]=O xogo xaponés do garda-almacén
Comment[he]=ןסחמה דבוע לש ינפיה קחשמה
Comment[hr]=Igra japanskih skladištara
Comment[hu]=A klasszikus ládatologatós játék
Comment[is]=ksokoban: Japanski lagerstjóraleikurinn
Comment[it]=Il gioco del magazziniere giapponese
Comment[ja]=倉庫番ゲーム
Comment[ko]=일본 창고지기 놀이
Comment[lt]=Japoniškas žaidimas apie prekybos namų savininką
Comment[lv]=Japāņu noliktavas pārziņu spēle
Comment[mk]=Логичка игра на Јапонец во складиште
Comment[mt]=Logħba Ġappuniża
Comment[nl]=het spel van de Japanse magazijnmeester
Comment[no]=Det japanske spillet der du styrer et lagerlokal
Comment[no_NY]=Det japanske lagersjef-spelet
Comment[oc]=Lo jog japonès dèu vigilant dèu magatzem
Comment[pl]=Gra japońskiego magazyniera
Comment[pt_BR]=O jogo do almoxarife japonês
Comment[pt]=O jogo japonês de arrumar caixotes
Comment[ru]=японская игра для хозяина склада
Comment[sk]=Japonská hra správca skladišťa
Comment[sl]=Japonska igra o skladiščniku
Comment[sr]=Igra japanskih čuvara tvrđava
Comment[sv]=Det japanska spelet där du sköter en lagerlokal
Comment[ta]=ºôÀ¡É¢Â Àñ¼º¡¨Ä ¸¡ÅÄ÷ Å¢¨ÇÂ¡ðÎ
Comment[tr]=Japon ambarcı oyunu
Comment[uk]=Японська гра службовця сховища
Comment[vi]=Trò chơi giữ kho hàng của Nhật 
Comment[xh]=Umdlalo wogcino lwesakhiwo sokugcina izinto ezizakuthengiswa wamaJaphani
Comment[zh_CN.GB2312]=日本的仓库保管员游戏
DocPath=ksokoban/index.html
Exec=ksokoban %i %m -caption "%c"
Icon=ksokoban
Terminal=0
Type=Application
KDE-X-StartupNotify=true
