[Desktop Entry]
Encoding=UTF-8
Name=KSokoban
Name[af]=Ksokoban
Name[bn]=কে-সোকোবান
Name[eo]=Sokobano
Name[hi]=के-शोकोबॉन
Name[hr]=Sokoban
Name[mk]=КСокобан
Name[nb]=Sokoban
Name[pl]=Sokoban
Name[ru]=Сокобан
Name[sv]=Ksokoban
Name[ta]=Kசோகோபான் 
Name[tg]=KСокобан
Name[xx]=xxKSokobanxx
Name[zh_TW]=KSokoban 倉庫番
Name[zu]=I-KSokoban
GenericName=Sokoban Game
GenericName[bg]=Логическа игра
GenericName[ca]=Joc Sokoban
GenericName[cs]=Hra Sokoban
GenericName[da]=Sokoban spil
GenericName[de]=Sokoban Spiel
GenericName[es]=Juego Sokoban
GenericName[et]=Sokoban
GenericName[fi]=Sokoban
GenericName[fr]=Jeu Sokoban
GenericName[ga]=Cluiche Sokoban
GenericName[he]=משחק Sokoban
GenericName[hu]=Sokoban
GenericName[is]=Sokoban leikur
GenericName[it]=Gioco del Sokoban
GenericName[nl]=Sokobanspel
GenericName[pl]=Sokoban
GenericName[pt]=Jogo de Sokoban
GenericName[pt_BR]=Jogo de Sokoban
GenericName[ru]=Игра Сокобан
GenericName[sl]=Igra Sokobana
GenericName[sr]=Игра Sokoban-а
GenericName[sr@Latn]=Igra Sokoban-a
GenericName[sv]=Sokoban-spel
GenericName[ta]=சொகோபான் விளையாட்டு
GenericName[uk]=Гра Sokoban
GenericName[xx]=xxSokoban Gamexx
DocPath=ksokoban/index.html
Exec=ksokoban %i %m -caption "%c"
Icon=ksokoban
Terminal=false
Type=Application
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;StrategyGame;
