[Desktop Entry]
Name=KSokoban
Name[bs]=KSokoban
Name[ca]=KSokoban
Name[ca@valencia]=KSokoban
Name[cs]=KSokoban
Name[de]=KSokoban
Name[en_GB]=KSokoban
Name[es]=KSokoban
Name[et]=KSokoban
Name[fi]=KSokoban
Name[fr]=KSokoban
Name[ga]=KSokoban
Name[gl]=KSokoban
Name[hu]=KSokoban
Name[it]=KSokoban
Name[ko]=KSokoban
Name[mr]=के-सोकोबान
Name[nl]=KSokoban
Name[nn]=KSokoban
Name[pl]=KSokoban
Name[pt]=KSokoban
Name[pt_BR]=KSokoban
Name[ru]=KSokoban
Name[sk]=KSokoban
Name[sl]=KSokoban
Name[sv]=Ksokoban
Name[tr]=KSokoban
Name[uk]=KSokoban
Name[x-test]=xxKSokobanxx
Name[zh_TW]=KSokoban
GenericName=Sokoban Game
GenericName[bs]=Sokoban igra
GenericName[ca]=Joc del Sokoban -encarregat del magatzem-
GenericName[ca@valencia]=Joc del Sokoban -encarregat del magatzem-
GenericName[cs]=Hra Sokoban
GenericName[de]=„Sokoban“-Spiel
GenericName[en_GB]=Sokoban Game
GenericName[es]=Juego Sokoban
GenericName[et]=Sokobani mäng
GenericName[fi]=Sokoban-peli
GenericName[fr]=Jeu de Sokoban
GenericName[ga]=Cluiche Sokoban
GenericName[gl]=Xogo do Sokoban
GenericName[hu]=Sokoban játék
GenericName[it]=Gioco Sokoban
GenericName[ko]=소코반 게임
GenericName[mr]=सोकोबान खेळ
GenericName[nl]=Sokoban-spel
GenericName[nn]=Sokoban-spel
GenericName[pl]=Gra Sokoban
GenericName[pt]=Jogo de Sokoban
GenericName[pt_BR]=Jogo Sokoban
GenericName[sk]=Hra Sokoban
GenericName[sl]=Igra KSokoban
GenericName[sv]=Sokoban-spel
GenericName[tr]=Sokoban Oyunu
GenericName[uk]=Гра, подібна до гри Сокобан
GenericName[x-test]=xxSokoban Gamexx
GenericName[zh_TW]=推箱子遊戲
DocPath=ksokoban/index.html
Exec=ksokoban -qwindowtitle %c
Icon=ksokoban
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;StrategyGame;
