[Desktop Entry]
Name=Skladnik
GenericName=Sokoban Game
GenericName[ar]=لعبة حارس المستودع
GenericName[bs]=Sokoban igra
GenericName[ca]=Joc del Sokoban -encarregat del magatzem-
GenericName[ca@valencia]=Joc de Sokoban -encarregat del magatzem-
GenericName[cs]=Hra Sokoban
GenericName[de]=„Sokoban“-Spiel
GenericName[en_GB]=Sokoban Game
GenericName[eo]=Sokoban-ludo
GenericName[es]=Juego Sokoban
GenericName[et]=Sokobani mäng
GenericName[eu]=«Sokoban» jokoa
GenericName[fi]=Sokoban-peli
GenericName[fr]=Jeu de Sokoban
GenericName[ga]=Cluiche Sokoban
GenericName[gl]=Xogo do Sokoban
GenericName[hu]=Sokoban játék
GenericName[it]=Gioco Sokoban
GenericName[ka]=თამაში Sokoban
GenericName[ko]=소코반 게임
GenericName[mr]=सोकोबान खेळ
GenericName[nl]=Sokoban-spel
GenericName[nn]=Sokoban-spel
GenericName[pl]=Gra Sokoban
GenericName[pt]=Jogo de Sokoban
GenericName[pt_BR]=Jogo Sokoban
GenericName[ro]=Joc Sokoban
GenericName[sk]=Hra Sokoban
GenericName[sl]=Igra KSokoban
GenericName[sv]=Sokoban-spel
GenericName[tr]=Sokoban Oyunu
GenericName[uk]=Гра, подібна до гри Сокобан
GenericName[zh_TW]=推箱子遊戲
DocPath=skladnik/index.html
Exec=skladnik -qwindowtitle %c
Icon=skladnik
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Categories=Qt;KDE;Game;StrategyGame;
